.aboutme-container {
  padding: var(--page-padding);
  display: flex;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
}

.aboutme-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
}


@media (max-width: 768px) {
  .aboutme-container img {
    display: none;
  }
}
